body {
	

}

.desc {

	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
		
}

section{
    padding-top: 200px;
}

section img{
    width: 100%;
}



/*menu*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c90000;
    position: fixed;
    top: 180px;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    font-family:Consolas, Courier, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

nav li a:hover {
    background-color: #111;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*news divs*/

#logo{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

#logo img{
    width: 420px;;
}

#left {
  width:50%;
  float:left;
  background-color:lightgray;
}

#right {
  width:50%;
  float:left;
  padding-top: 400px;
  color: white;
  background-color: black;
}

#links1{
    width: 20%;
    float: left;
}

#midden1{
    width: 60%;
    float: left;
    background-color: lightgray;
}

#rechts1{
    width: 20%;
    float: left;
}